Hi {{name}}
<br>
<br>
{{studentName}} has applied for a {{#if interview}}interview{{else}}position{{/if}} as {{#if vowel}}an{{else}}a{{/if}} {{category}}. To see the list of
applicants for your {{category}}” position, please click the button bellow.
<br>
Applications remaining this week: {{applicationsLeft}}
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Subject=Application%20Help">help@o-link.co.za</a>.
<br>
<br>
We wish you all the best in finding the jobs you desire.
<br>
<br>

