Hi {{name}},<br>
<br>
Congratulations, {{talent}} has committed to
scheduling an interview for a job as a(n) {{category}}.
<br>
<br>
Please contact {{talentName}} directly at {{talentEmail}}
to schedule the interview.
<br>
<br>
To view your current applicants, click the link below:
<br>
<br>
<a href="{{link}}">View my applicants.</a>
<br>
<br>
If you need any assistance, reply to this email and we will help you
out in any way we can.
<br>
<br>
We wish you all the best with your future applications.

