Hi {{name}},<br>
<br>
Your talent, {{talentName}}  has rated you as
an employer based on their job as a(n) {{category}}, completed on
{{date}}.
<br>
<br>
To view your rating and comments, please click <a href="{{link}}">here.</a>
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Rated%20Help">help@o-link.co.za</a> and we will help you out in any way we can.
<br>
<br>
We wish you all the best with finding the talent you need.
<br>
<br>
