Hi {{name}},<br>
<br>
Your employer {{employerName}} has rated your performance
for your work as a(n) {{category}} on
{{date}}.
<br>
<br>
To view your rating and comments, please click <a href="{{link}}">here.</a>
<br>
<br>
If you need any assistance, reply to this email and we will help you
out in any way we can.
<br>
<br>
We wish you all the best with your future applications.

