Hi {{talentName}},<br>
<br>
Thank you for completing job as a {{category}} with {{employer}} on
{{date}}.
<br>
<br>
To rate your employer and continue using O-Link, simply click on
the link below:
<br>
<br>
<a href="{{link}}">Rate my employee.</a>
<br>
<br>
You will not be allowed to use the O-Link platorm until you have
provided a rating for {{employerName}}
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Rating%20Help">help@o-link.co.za</a> and we will help you out in any way we can.
<br>
<br>
We wish you all the best with your future applications.
<br>
<br>